* {
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;  
    margin: 0;
    background-color: white;
}

.header {
    display: flex;
    background-color: green;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
}

.appname {
    flex: 6 1 auto;
}

.space {
    flex: 6 1 auto;
}

.search {
    flex: 1 1 auto;
}

.submenu {
    flex: 1 1 auto;
}

