.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: left;
}

.container {
    width: 350px;
    height: 472px;
    margin-top: 10px;
    text-align: center;
    vertical-align: middle;
}

.list-group-item li[id="title"] {
    font-weight: bold;
}