.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: left;
}

.container {
    margin: 10px;
    text-align: center;
}

img {
    width: 100%;
    height: auto;
}

div form {
    text-align: center;
}

ul li[id="header"] {
    font-size: large;
}

